<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>{sort:title}	- {pboot:companyname}</title>
<meta name="keywords" content="{sort:keywords}">
<meta name="description" content="{sort:description}">
<link href="{pboot:sitedomain}/skin/css/font-awesome.min.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/owl.carousel.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/grid.1.1.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/base.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/plugin-style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/el-style.css" rel="stylesheet">
<script src="{pboot:sitedomain}/skin/js/jquery-1.11.0.min.js"></script>
<script>var website = {
'root': '/skin',
'websiteId': '556',
'currentNavId': 'nav_7329',
'resourceId': '10071',
'resourceCode': 'page',
'isMobile': navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(Android)|(PlayBook)|(BB10)|(BlackBerry)|(Opera Mini)|(IEMobile)|(webOS)|(MeeGo)/i)
};</script>
<script src="{pboot:sitedomain}/skin/js/functions.js"></script>
<script src="{pboot:sitedomain}/skin/js/sea.js"></script>
<script src="{pboot:sitedomain}/skin/js/sea.run.js"></script>
<script>website["dataId"] = '2286';</script>
</head>

<body>
{include file=head.html}
<div class="row" id="el_6869688611491952" path="row">
  <div class="rowFluid">
    <div class="span12">
      <div class="column" id="el_8277376938515232" path="column">
        <div class="container">
          <div class="row" id="el_1154453923396552" path="row">
            <div class="rowFluid">
              <div class="span3 col-xs-12">
                <div class="column" id="el_5169501342495996" path="column">
                  <div class="pluginWrapper plugin_4468793764767129" id="plugin_4468793764767129" data-areaid="4468793764767129" data-edit="false" path="plugin">
                    <div class="pluginContent">{sort:name}</div>
                  </div>
                </div>
              </div>
              <div class="span9 col-xs-12">
                <div class="column" id="el_3489121076828645" path="column">
                  <div class="pluginWrapper plugin_5545844614441430" id="plugin_5545844614441430" data-areaid="5545844614441430" data-edit="false" path="plugin">
                    <div class="pluginContent"> {pboot:position} </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="el_2409364663047444" path="row">
  <div class="rowFluid">
    <div class="span12">
      <div class="column" id="el_8439151065227512" path="column">
        <div class="container">
          <div class="row" id="el_2501645458682503" path="row">
            <div class="rowFluid">
              {include file=left.html}
              <div class="span9 col-xm-12">
                <div class="column" id="el_2764782457471358" path="column">
                  <div class="pluginWrapper plugin_6770440237691016" id="plugin_6770440237691016" data-areaid="6770440237691016" data-edit="false" path="plugin">
                    <div class="pluginContent">{sort:name}</div>
                  </div>
                  <div class="pluginWrapper plugin_2870550614377147" id="plugin_2870550614377147" data-areaid="2870550614377147" data-edit="true" path="plugin">
                    <div class="pluginContent" id="maximg"> {content:content} </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{include file=foot.html}
</div>
</body>
</html>