<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>{content:title} - {pboot:companyname}</title>
<meta name="keywords" content="{sort:keywords}">
<meta name="description" content="{sort:description}">
<link href="{pboot:sitedomain}/skin/css/font-awesome.min.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/owl.carousel.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/grid.1.1.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/base.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/plugin-style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/el-style.css" rel="stylesheet">
<script src="{pboot:sitedomain}/skin/js/jquery-1.11.0.min.js"></script>
<script>var website = {
'root': '/skin',
'websiteId': '556',
'currentNavId': 'nav_7330',
'resourceId': '10078',
'resourceCode': 'product',
'isMobile': navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(Android)|(PlayBook)|(BB10)|(BlackBerry)|(Opera Mini)|(IEMobile)|(webOS)|(MeeGo)/i)
};</script>
<script src="{pboot:sitedomain}/skin/js/functions.js"></script>
<script src="{pboot:sitedomain}/skin/js/sea.js"></script>
<script src="{pboot:sitedomain}/skin/js/sea.run.js"></script>
<script>website["dataId"] = '4260';</script>
</head>

<body>
{include file=head.html}
<div class="row" id="el_4174868633636035" path="row">
  <div class="rowFluid">
    <div class="span12">
      <div class="column" id="el_2087831456133758" path="column">
        <div class="container">
          <div class="row" id="el_7928373962741689" path="row">
            <div class="rowFluid">
              <div class="span3 col-xs-12">
                <div class="column" id="el_1963409372873750" path="column">
                  <div class="pluginWrapper plugin_7213707058796560" id="plugin_7213707058796560" data-areaid="7213707058796560" data-edit="false" path="plugin">
                    <div class="pluginContent">{sort:name}</div>
                  </div>
                </div>
              </div>
              <div class="span9 col-xs-12">
                <div class="column" id="el_5676188958317206" path="column">
                  <div class="pluginWrapper plugin_3294504966064532" id="plugin_3294504966064532" data-areaid="3294504966064532" data-edit="false" path="plugin">
                    <div class="pluginContent"> {pboot:position} </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="el_1369300747551093" path="row">
  <div class="rowFluid">
    <div class="span12">
      <div class="column" id="el_6546678026552768" path="column">
        <div class="container">
          <div class="row" id="el_4730198833406855" path="row">
            <div class="rowFluid">
              {include file=left.html}
              <div class="span9 col-xm-12">
                <div class="column" id="el_3844765747821582" path="column">
                  <div class="pluginWrapper plugin_3588195828686117" id="plugin_3588195828686117" data-areaid="3588195828686117" data-edit="true" path="plugin">
                    <div class="pluginContent">{content:title}</div>
                  </div>
                  <div class="row" id="el_5593205851107733" path="row">
                    <div class="rowFluid">
                      <div class="span6">
                        <div class="column" id="el_1706582226433617" path="column">
                          <div class="pluginWrapper plugin_8942692752777418" id="plugin_8942692752777418" data-areaid="8942692752777418" data-edit="true" path="plugin">
                            <div class="pluginContent"> <img src="{content:ico}"></div>
                          </div>
                        </div>
                      </div>
                      <div class="span6">
                        <div class="column" id="el_6146883361497090" path="column">
                          <div class="pluginWrapper plugin_2951214617133022" id="plugin_2951214617133022" data-areaid="2951214617133022" data-edit="true" path="plugin">
                            <div class="pluginContent" style="margin-bottom:10px;color:#f00;">{content:title}</div>
                            <div class="pluginContent" style="margin-bottom:10px;">分类：{sort:name}</div>
                            <div class="pluginContent mei">描述信息：{content:description}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pluginWrapper plugin_1409167447306854" id="plugin_1409167447306854" data-areaid="1409167447306854" data-edit="false" path="plugin">
                    <div class="pluginContent">产品介绍</div>
                  </div>
                  <div class="pluginWrapper plugin_8313138640702759" id="plugin_8313138640702759" data-areaid="8313138640702759" data-edit="true" path="plugin">
                    <div class="pluginContent" id="maximg"> {content:content} </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{include file=foot.html}
</div>
</body>
</html>