<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>{pboot:sitetitle}</title>
<meta name="keywords" content="{pboot:pagekeywords}">
<meta name="description" content="{pboot:pagedescription}">
<meta name="author" content="www.niumacms.com"/>
<link href="{pboot:sitedomain}/skin/css/font-awesome.min.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/owl.carousel.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/grid.1.1.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/base.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/plugin-style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/el-style.css" rel="stylesheet">
<script src="{pboot:sitedomain}/skin/js/jquery-1.11.0.min.js"></script>
<script>var website = {
'root': '/skin',
'websiteId': '556',
'currentNavId': 'nav_home',
'resourceId': '',
'resourceCode': '',
'isMobile': navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(Android)|(PlayBook)|(BB10)|(BlackBerry)|(Opera Mini)|(IEMobile)|(webOS)|(MeeGo)/i)
};</script>
<script src="{pboot:sitedomain}/skin/js/functions.js"></script>
<script src="{pboot:sitedomain}/skin/js/sea.js"></script>
<script src="{pboot:sitedomain}/skin/js/sea.run.js"></script>
<script>website["dataId"] = '';</script>
</head>

<body>
{include file=head.html}
<div class="pluginWrapper plugin_7931219269343819" id="plugin_7931219269343819" data-areaid="7931219269343819" data-edit="false" path="plugin">
  <div class="pluginContent">
    <div class="fo-content">
      <div class="fo-shadow"> <img src="{pboot:sitedomain}/skin/images/shadow-top.png"></div>
      <div id="ad7931219269343819">
        {pboot:slide gid=1 num=6}
        <div class="item"> <a href="[slide:link]"> <img class="lazyOwl" src="{pboot:sitedomain}/skin/images/lazyload.png" data-src="[slide:src]"></a> </div>
        {/pboot:slide}
      </div>
      <script>seajs.use(['owlcarousel', 'owlcarouselcss'],
function() {
$("#ad7931219269343819").owlCarousel({
lazyLoad: true,
pagination: false,
singleItem: true,
autoPlay: true,
navigation: true,
transitionStyle: "fade",
navigationText: ["<i class='fa-angle-left'></i>", "<i class='fa-angle-right'></i>"]
});
});</script> 
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
<div class="row" id="el_4256612442451533" path="row">
  <div class="rowFluid">
    <div class="span12">
      <div class="column" id="el_3548755829532051" path="column">
        <div class="container">
          <div class="row" id="el_6374203531206978" path="row">
            <div class="rowFluid">
              <div class="span7 col-sm-12">
                <div class="column" id="el_4873373763876755" path="column">
                  <div class="pluginWrapper plugin_3555142218854398" id="plugin_3555142218854398" data-areaid="3555142218854398" data-edit="false" path="plugin">
                    <div class="pluginContent">什么是响应式设计</div>
                  </div>
                  <div class="pluginWrapper plugin_3028317434016132" id="plugin_3028317434016132" data-areaid="3028317434016132" data-edit="false" path="plugin">
                    <div class="pluginContent">网站页面根据访问设备的屏幕宽度，自动调整显示效果，无需放大缩小查看，有效解决联网设备屏幕尺寸不统一的问题。</div>
                  </div>
                  <div class="pluginWrapper plugin_1594664435962050" id="plugin_1594664435962050" data-areaid="1594664435962050" data-edit="false" path="plugin">
                    <div class="pluginContent"> {pboot:sort scode=1} <a class="mod-a" href="[sort:link]" target="_self">体验响应式网站</a> {/pboot:sort} </div>
                  </div>
                </div>
              </div>
              <div class="span5 col-sm-12">
                <div class="column" id="el_1941210853548810" path="column">
                  <div class="pluginWrapper plugin_8140586266674170" id="plugin_8140586266674170" data-areaid="8140586266674170" data-edit="false" path="plugin">
                    <div class="pluginContent"> {pboot:sort scode=1}<img class="lazyImg" src="{pboot:sitedomain}/skin/images/lazyload.png" data-original="[sort:ico]">{/pboot:sort}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="el_8981637518521356" path="row">
  <div class="rowFluid">
    <div class="span12">
      <div class="column" id="el_3943806865307573" path="column">
        <div class="container">
          <div class="row" id="el_1532200710015085" path="row">
            <div class="rowFluid">
              <div class="span12">
                <div class="column" id="el_5649346135852723" path="column">
                  {pboot:sort scode=12}
                  <div class="pluginWrapper plugin_4273389252235309" id="plugin_4273389252235309" data-areaid="4273389252235309" data-edit="false" path="plugin">
                    <div class="pluginContent">[sort:name]</div>
                  </div>
                  <div class="row" id="el_3436368379691947" path="row">
                    <div class="rowFluid">
                      <div class="span12">
                        <div class="column" id="el_3116255629311938" path="column">
                          <div class="pluginWrapper plugin_5923254755116884" id="plugin_5923254755116884" data-areaid="5923254755116884" data-edit="false" path="plugin">
                            <div class="pluginContent"> <img class="lazyImg" src="{pboot:sitedomain}/skin/images/lazyload.png" data-original="{pboot:sitedomain}/skin/images/i1.png"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pluginWrapper plugin_6723885738677823" id="plugin_6723885738677823" data-areaid="6723885738677823" data-edit="false" path="plugin">
                    <div class="pluginContent">[sort:def1]<br />
                    </div>
                  </div>
                  {/pboot:sort}
                  <div class="row" id="el_3357141251863327" path="row">
                    <div class="rowFluid">
                      {pboot:nav parent={sort:tcode} parent=12 num=3}
                      <div class="span4 col-xs-12 col-sm-12">
                        <div class="column" id="el_2472618043765885" path="column">
                          <div class="pluginWrapper plugin_5072625645886087" id="plugin_5072625645886087" data-areaid="5072625645886087" data-edit="false" path="plugin">
                            <div class="pluginContent">  <a href="[nav:link]" target="_self"> <img class="lazyImg" src="{pboot:sitedomain}/skin/images/lazyload.png" data-original="[nav:ico]"> </a>  </div>
                          </div>
                          <div class="pluginWrapper plugin_6370322633994847" id="plugin_6370322633994847" data-areaid="6370322633994847" data-edit="false" path="plugin">
                            <div class="pluginContent">[nav:name]</div>
                          </div>
                          <div class="pluginWrapper plugin_8286897832391013" id="plugin_8286897832391013" data-areaid="8286897832391013" data-edit="false" path="plugin">
                            <div class="pluginContent">[nav:def1]<br />
                            </div>
                          </div>
                        </div>
                      </div>
                      {/pboot:nav}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="el_5832282021622332" path="row">
  <div class="rowFluid">
    <div class="span12">
      <div class="column" id="el_7048353641433587" path="column">
        <div class="container">
          <div class="row" id="el_6126347115895959" path="row">
            <div class="rowFluid">
              <div class="span12">
                <div class="column" id="el_3056799623411321" path="column">
                  {pboot:sort scode=5}
                  <div class="pluginWrapper plugin_1655113176254911" id="plugin_1655113176254911" data-areaid="1655113176254911" data-edit="false" path="plugin">
                    <div class="pluginContent">[sort:name]</div>
                  </div>
                  <div class="row" id="el_7235722445275292" path="row">
                    <div class="rowFluid">
                      <div class="span12">
                        <div class="column" id="el_8248477615596427" path="column">
                          <div class="pluginWrapper plugin_6436393475548143" id="plugin_6436393475548143" data-areaid="6436393475548143" data-edit="false" path="plugin">
                            <div class="pluginContent"> <img class="lazyImg" src="{pboot:sitedomain}/skin/images/lazyload.png" data-original="{pboot:sitedomain}/skin/images/i3.png"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pluginWrapper plugin_8412373514286205" id="plugin_8412373514286205" data-areaid="8412373514286205" data-edit="false" path="plugin">
                    <div class="pluginContent">[sort:def1]<br />
                    </div>
                  </div>
                  {/pboot:sort}
                  <div class="pluginWrapper plugin_7342424548035481" id="plugin_7342424548035481" data-areaid="7342424548035481" data-edit="false" path="plugin">
                    <div class="pluginContent">
                      <div class="mod-list clearfix"> {pboot:list scode=5 num=6 order=date}
                        <div class="col-lg-4 col-sm-12">
                          <div class="mod-item"> <a class="mod-pic" href="[list:link]" title="[list:title]"> <img class="lazyImg" src="{pboot:sitedomain}/skin/images/lazyload.png" data-original="[list:ico]" alt="[list:title]"></a> <a class="mod-title" href="[list:link]" title="[list:title]">[list:title]</a></div>
                        </div>
                        {/pboot:list} </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="el_7794213337962998" path="row">
            <div class="rowFluid">
              <div class="span12">
                <div class="column" id="el_3243322140133330" path="column">
                  <div class="pluginWrapper plugin_3030375870157477" id="plugin_3030375870157477" data-areaid="3030375870157477" data-edit="false" path="plugin">
                    <div class="pluginContent"> {pboot:sort scode=5} <a class="mod-a" href="[sort:link]" target="_self">查看更多案例</a> {/pboot:sort} </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="el_7608345859046550" path="row">
  <div class="rowFluid">
    <div class="span12">
      <div class="column" id="el_5136856184052361" path="column">
        <div class="container">
          <div class="row" id="el_1582820170927686" path="row">
            <div class="rowFluid">
              <div class="span12">
                <div class="column" id="el_4291325740647108" path="column">
                  {pboot:sort scode=9}
                  <div class="pluginWrapper plugin_8777490243314450" id="plugin_8777490243314450" data-areaid="8777490243314450" data-edit="false" path="plugin">
                    <div class="pluginContent">[sort:name]</div>
                  </div>
                  <div class="row" id="el_3388548233847592" path="row">
                    <div class="rowFluid">
                      <div class="span12">
                        <div class="column" id="el_2357366224305671" path="column">
                          <div class="pluginWrapper plugin_4533494652174187" id="plugin_4533494652174187" data-areaid="4533494652174187" data-edit="false" path="plugin">
                            <div class="pluginContent"> <img class="lazyImg" src="{pboot:sitedomain}/skin/images/lazyload.png" data-original="{pboot:sitedomain}/skin/images/i2.png"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pluginWrapper plugin_2877829851866025" id="plugin_2877829851866025" data-areaid="2877829851866025" data-edit="false" path="plugin">
                    <div class="pluginContent">[sort:def1]<br />
                    </div>
                  </div>
                  {/pboot:sort}
                  <div class="pluginWrapper plugin_6740132374046388" id="plugin_6740132374046388" data-areaid="6740132374046388" data-edit="false" path="plugin">
                    <div class="pluginContent">
                      <ul class="reset clearfix">
                        {pboot:list scode=9 num=4 order=date}
                        <li class="col-lg-6 col-sm-12">
                          <div class="mod-item clearfix">
                            <div class="col-lg-4"> <a class="mod-pic" href="[list:link]" title="[list:title]"> <img class="lazyImg" src="{pboot:sitedomain}/skin/images/lazyload.png" data-original="[list:ico]" alt="[list:title]"></a> </div>
                            <div class="col-lg-8"> <a class="mod-title" href="[list:link]" title="[list:title]">[list:title]</a>
                              <div class="mod-attr"> <span class="mod-time"> <i class="fa-calendar"></i>[list:date style=Y-m-d]</span> <span class="mod-author"> <i class="fa-user"></i>[nav:name]</span> </div>
                              <div class="mod-digest">[list:description lencn=60]</div>
                            </div>
                          </div>
                        </li>
                        {/pboot:list}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="el_4455155155421534" path="row">
            <div class="rowFluid">
              <div class="span12">
                <div class="column" id="el_2581766569118891" path="column">
                  <div class="pluginWrapper plugin_8998689432113142" id="plugin_8998689432113142" data-areaid="8998689432113142" data-edit="false" path="plugin">
                    <div class="pluginContent"> {pboot:sort scode=9} <a class="mod-a" href="[sort:link]" target="_self">查看更多资讯</a> {/pboot:sort} </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{include file=foot.html}
</div>
</body>
</html>