<div class="span3 col-xm-12">
  <div class="column" id="el_8082432165933427" path="column">
    <div class="pluginWrapper plugin_4167455762331052" id="plugin_4167455762331052" data-areaid="4167455762331052" data-edit="false" path="plugin">
      <div class="pluginContent">
        <div class="menu-list"> <a class="mod-wr1" data-level="1" href="javascript:;" title="{sort:name}">{sort:topname}</a> {pboot:nav num=20 parent={sort:tcode}} <a class="mod-wr2" data-level="2" href="[nav:link]" title="[nav:name]">[nav:name]</a> {/pboot:nav} </div>
      </div>
    </div>
  </div>
</div>
