<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>{content:title} - {pboot:companyname}</title>
<meta name="keywords" content="{sort:keywords}">
<meta name="description" content="{sort:description}">
<link href="{pboot:sitedomain}/skin/css/font-awesome.min.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/owl.carousel.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/grid.1.1.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/base.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/plugin-style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/el-style.css" rel="stylesheet">
<script src="{pboot:sitedomain}/skin/js/jquery-1.11.0.min.js"></script>
<script>var website = {
'root': '/skin',
'websiteId': '556',
'currentNavId': 'nav_7331',
'resourceId': '10080',
'resourceCode': 'news',
'isMobile': navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(Android)|(PlayBook)|(BB10)|(BlackBerry)|(Opera Mini)|(IEMobile)|(webOS)|(MeeGo)/i)
};</script>
<script src="{pboot:sitedomain}/skin/js/functions.js"></script>
<script src="{pboot:sitedomain}/skin/js/sea.js"></script>
<script src="{pboot:sitedomain}/skin/js/sea.run.js"></script>
<script>website["dataId"] = '9731';</script>
</head>

<body>
{include file=head.html}
<div class="row" id="el_8314761386056555" path="row">
  <div class="rowFluid">
    <div class="span12">
      <div class="column" id="el_8193136210728495" path="column">
        <div class="container">
          <div class="row" id="el_1103551576024090" path="row">
            <div class="rowFluid">
              <div class="span3 col-xs-12">
                <div class="column" id="el_2381657369136893" path="column">
                  <div class="pluginWrapper plugin_5439375118515349" id="plugin_5439375118515349" data-areaid="5439375118515349" data-edit="false" path="plugin">
                    <div class="pluginContent">{sort:name}</div>
                  </div>
                </div>
              </div>
              <div class="span9 col-xs-12">
                <div class="column" id="el_2110812873158335" path="column">
                  <div class="pluginWrapper plugin_1521451566812427" id="plugin_1521451566812427" data-areaid="1521451566812427" data-edit="false" path="plugin">
                    <div class="pluginContent"> {pboot:position separator=>>} </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="el_4397249040664313" path="row">
  <div class="rowFluid">
    <div class="span12">
      <div class="column" id="el_7022648031065716" path="column">
        <div class="container">
          <div class="row" id="el_1631418081446175" path="row">
            <div class="rowFluid">
              {include file=left.html}
              <div class="span9 col-xm-12">
                <div class="column" id="el_7296707983396256" path="column">
                  <div class="pluginWrapper plugin_5842352324981334" id="plugin_5842352324981334" data-areaid="5842352324981334" data-edit="false" path="plugin">
                    <div class="pluginContent">
                      <div class="mod-title">{content:title}</div>
                      <div class="mod-attr"> <span>时间: {content:date}</span> <span>浏览次数：{content:visits}</span> </div>
                      <div class="mod-digest">{content:description}</div>
                      <div class="mod-detail" id="maximg"> {content:content} </div>
                    </div>
                  </div>
                  <div class="pluginWrapper plugin_2014224926532757" id="plugin_2014224926532757" data-areaid="2014224926532757" data-edit="true" path="plugin">
                    <div class="pluginContent">
                      <div class="mod-prev">上一篇：{content:precontent}</div>
                      <div class="mod-prev">下一篇：{content:nextcontent}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{include file=foot.html}
</div>
</body>
</html>